.sacola {
	background: url(../img/sacola.png) no-repeat top right;
	font-size: 14px;
	padding-top: 8px;
	padding-right: 35px;
	text-align: right;
	width: 140px;
	position: absolute;
	top: 0;
	right: 0;
}

.menu-opcoes {
	position: absolute;
	bottom: 0;
	right: 0;
}

.menu-opcoes ul {
	font-size: 15px;
}

.menu-opcoes ul li{
	display: inline;
	margin-left: 20px;
}

.menu-opcoes a {
	color: #003366;
}

.container {
	margin: 0 auto;
	width: 940px;
}

header {
	position: relative;
}

body {
	color: #333333;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.busca,
.menu-departamentos {
	background-color: #dcdcdc;
	font-weight: bold;
	text-transform: uppercase;

	margin-right: 10px;
	width: 230px;
}

.busca h2,
.busca form,
.menu-departamentos h2 {
	margin: 10px;
}
.menu-departamentos li {
	background-color: white;
	margin-bottom: 1px;
	padding: 5px 10px;
}

.menu-departamentos a {
	color: #333333;
	text-decoration: none;
}

.busca {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.busca input {
	vertical-align: middle;
}

.busca input[type=search] {
	width: 170px;
}

.busca,
.menu-departamentos {
	float: left;
}
.menu-departamentos {
	clear: left;
}
.destaque {
	margin-top: 10px;
}
.menu-departamentos {
	margin-top: 10px;
	padding-bottom: 10px;
}

.painel {
	margin: 10px 0;
	padding: 10px;
	width: 445px;
	border-radius: 4px;
	box-shadow: inset 1px 1px 4px #999;
}

.painel li {
	display: inline-block;
	vertical-align: top;
	width: 140px;
	margin: 2px;
	padding-bottom: 10px;
	transition: 0.7s ease-out;
}

.painel h2 {
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 10px;
	text-shadow: 3px 3px 2px rgba(255, 255, 255, 0.8);
}

.painel a {
	color: #333;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
}

.painel li:hover {
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: 0 0 5px #333;
	transition:0.7s ease-in;
	transform: scale(1.2) rotate(-5deg);
}

.painel li:nth-child(2n):hover {
	transform: scale(1.2) rotate(5deg);
}

.novidades {
	float:left;
	background-color: #f5dcdc;
	background: linear-gradient(#f5dcdc, #bebef4);
}

.mais-vendidos {
	float: right;
	background-color: #dcdcf5;
	background: linear-gradient(#dcdcf5, #f4bebe)
}

.menu-opcoes a:hover {
	color: #007dc6;
}

.menu-opcoes a:active {
	color: #867dc6;
}

.menu-departamentos li ul {
	display: none;
}

.menu-departamentos li:hover ul {
	display:block;
}

.menu-departamentos ul ul li {
	background-color: #dcdcdc;
}

.menu-departamentos li li a:before {
	content: '- ';
}

footer {
	background-image: url(../img/fundo-rodape.png);
}

.social {
	position: absolute;
	top: 12px;
	right: 0;
}

.social a {
	height: 32px;
	width: 32px;

	display: block;
	text-indent: -9999px;
}

.social li {
	float: left;
	margin-left: 25px;
}

.social a[href*="facebook.com"]  {
	background-image: url(../img/facebook.png);
}

.social a[href*="twitter.com"]  {
	background-image: url(../img/twitter.png);
}

.social a[href*="plus.google.com"]  {
	background-image: url(../img/googleplus.png);
}

footer {
	clear: both;
	padding: 20px 0;
}

footer .container {
	position: relative;
}