body {
	color:#333333;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	margin-left: auto;
	margin-right: auto;
	width: 940px;
}

h1 {
	background-image: url(../img/sobre-background.jpg);
	padding: 10px;
}

h2 {
	border-bottom: 2px solid #333333;
	margin-top: 30px;
}

p {
	padding: 0 45px;
	text-indent: 15px;
}

figure {
	background-color: #F2EDED;
	border: 1px solid #CCC;
	text-align: center;
	padding: 15px;
	margin: 30px;
}

figcaption {
	font-style: italic;
	margin-top: 10px;
}

#centro-distribuicao {
	margin-left: auto;
	margin-right: auto;
	width: 550px;
}

#rodape {
	color: #777;
	margin: 30px 0;
	padding: 30px 0;
}

#rodape img {
	margin-right: 30px;
	vertical-align: middle;
	width: 94px;
}

#familia-pelho {
	float: right;
	margin: 0 0 10px 10px;
}

p:first-letter {
	font-weight: bold;
}

h1 + P {
	text-indent: 0;
}

p:first-line {
	font-variant: small-caps;
}